body{ 
    background-image: url('https://img.freepik.com/free-photo/  medicine-capsules-global-health-with-geometric-pattern-digital-remix_53876-126742.jpg '); /* Replace with your image URL */
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;

}